{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<p class="my-1">
    Mimo Prahu a Teplice účtována doprava 6 Kč/km.
</p>

<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychlosvatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, pár fotek novomanželů</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hodiny</li>
                <li>cca 200 fotografií v plné kvalitě</li>
                <li>cena 4500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Malá svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina</h6>
        <p class="card-text">
            <ul>
                <li>délka focení 6 hodin</li>
                <li>cca 300 fotografií v plné kvalitě</li>
                <li>cena 7500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina, dort, první tanec</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 8 hodin</li>
                <li>cca 400 fotografií v plné kvalitě</li>
                <li>cena 9500,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Velká svatba</h4>
        <h6 class="card-subtitle mb-2 text-muted">Přípravy na svatbu, příjezd nevěsty a ženicha, obřad, gratulace, skupinové focení, focení novomanželů, hostina, dort, první tanec, dění na oslavě</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 10 hodin</li>
                <li>cca 500 fotografií v plné kvalitě</li>
                <li>cena 11500,- Kč</li>
            </ul>
        </p>
    </div>
</div>

{% endblock %}