{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>

<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychlovka</h4>
        <h6 class="card-subtitle mb-2 text-muted">Profilové fotografie, párové focení</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 60 minut</li>
                <li>10-15 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 1600,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Normálka</h4>
        <h6 class="card-subtitle mb-2 text-muted">Párové focení, beauty, těhotenské fotografie</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 90 minut</li>
                <li>20-25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2200,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Klídek</h4>
        <h6 class="card-subtitle mb-2 text-muted">Rodinné fotografie, beauty, těhotenské fotografie v páru</h6>
        <p class="card-text">
            <ul>
                <li>délka focení je 120 minut</li>
                <li>30-35 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2800,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Pohodička</h4>
        <h6 class="card-subtitle mb-2 text-muted">Rodiny s malými dětmi</h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hodiny</li>
                <li>cca 40 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Novorozeňátka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 4-5 hodin</li>
                <li>20-25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 4000,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Beauty</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 2-3 hodiny</li>
                <li>25 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3000,- Kč</li>
            </ul>
            Možnost vizážistky a kadeřnice cena po upřesnění účesu, líčení, místa.
        </p>
    </div>
</div>
{% endblock %}