{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p class="lead">
    Ceník je dělaný, tak, aby pokud možno pokryl všechny možné kombinace a varianty focení, pokud jste si nevybraly z následujících možností, nevadí. Ráda s Vámi vymyslím variantu, která Vám bude vyhovovat nejlépe.
</p>
<p class="lead">
    U novorozeneckých fotografií mě kontaktujte co nejdříve po porodu a společně vymyslíme termín, kdy se budete cítit na focení miminka. Novorozenecké fotografie můžeme fotit v ateliéru nebo ve Vašem domácím prostředí. Důležité je, abyste se cítili pohodlně a focení si užili bez stresu.
</p>

<div class="card-deck mt-5">
    <div class="card">
        <a href="{{url_for('prizes_interier')}}">
            <img class="card-img-top" src="{{url_for('static', filename='photo/thumb/')}}{{images[0].filename}}" alt="{{images[0].filename}}">
        </a>
        <div class="card-body">
            <h4 class="card-title">Interiér</h4>
            <p class="card-text">Rád fotim a vim, že to umim. A holkám se to líbi.</p>
        </div>
        <div class="card-footer">
            <a class="text-secondary" href="{{url_for('prizes_interier')}}">Prohlédnout si ceník focení v interiéru</a>
        </div>
    </div>
    <div class="card">
        <a href="{{url_for('prizes_exterier')}}">
            <img class="card-img-top" src="{{url_for('static', filename='photo/thumb/')}}{{images[1].filename}}" alt="{{images[1].filename}}">
        </a>
        <div class="card-body">
            <h4 class="card-title">Exteriér</h4>
            <p class="card-text">Rád fotim a venku fotim a holkám se to líbi.</p>
        </div>
        <div class="card-footer">
            <a class="text-secondary" href="{{url_for('prizes_exterier')}}">Prohlédnout si ceník focení v exteriéru</a>
        </div>
    </div>
    <div class="card">
        <a href="{{url_for('prizes_svatby')}}">
            <img class="card-img-top" src="{{url_for('static', filename='photo/thumb/')}}{{images[2].filename}}" alt="{{images[2].filename}}">
        </a>
        <div class="card-body">
            <h4 class="card-title">Svatby</h4>
            <p class="card-text">A rád fotim, a svatby fotim a blesk mi k tomu střílí.</p>
        </div>
        <div class="card-footer">
            <a class="text-secondary" href="{{url_for('prizes_svatby')}}">Prohlédnout si ceník focení svateb</a>
        </div>
    </div>
</div>

    {% endblock %}
