{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>

<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Rychloprocházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 90 minut</li>
                <li>25-30 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 2500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Procházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení 120 minut</li>
                <li>35- 40 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3000,-Kč</li>
            </ul>
        </p>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">Pohodová procházka</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <ul>
                <li>délka focení cca 3 hod.</li>
                <li>cca 45 retušovaných fotografií</li>
                <li>fotografie ve třech provedení: barevné, černobílé a krémové</li>
                <li>cena 3500,- Kč</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}